.hero {
  background: black;
  color: white;
  border-radius: 0 0 30px 30px;
}

/* Globals */

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  /* background-image: url("../../assets/images/y.jpeg"); */
  background-color: black;
  background-position: center;
  background-size: cover;
}

/* Custom default button */
.btn-primary {
  background-color: #f71583;
  border: none;
  font-weight: 500;
}

.btn-outline-primary {
  border: 2px solid #f71583;
  color: #f71583;
  background-color: transparent;
  font-weight: 500;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #ff0062;
  color: #fff;
}

/* Navbar */
.navbar {
  background-color: transparent;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #f71583;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: inline-block;
  border: 4px solid #28a745;
  position: relative;
  animation: scale 0.3s ease-in-out;
}

.checkmark::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 8px;
  width: 12px;
  height: 24px;
  border-right: 4px solid #28a745;
  border-bottom: 4px solid #28a745;
  transform: rotate(45deg);
  animation: draw 0.4s ease-in-out;
}

@keyframes draw {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  100% {
    height: 24px;
    width: 12px;
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
